
  <!-- {{userList}} -->
  <div class="card m-5" style="width:18rem" *ngFor="let user of userList.$values">
      <ul class="list-group">
         <!--<li class="list-group-item"><strong>UserId : </strong>{{user.userId}} </li>-->
        <li class="list-group-item"><strong>Username : </strong>{{user.userName}} </li>
        <li class="list-group-item"><strong>FullName : </strong>{{user.fullName}}</li>
        <li class="list-group-item"><strong>Email : </strong>{{user.email}}</li> 
        <li class="list-group-item"><strong>Stream : </strong>{{user.stream}}</li>
        <li class="list-group-item"><strong>RollNo : </strong>{{user.rollNo}}</li>
        <button  (click)="AdminEdit(user.userId)" class="btn btn-lg btn-primary" >Edit</button>
        <button  (click)="Dlt(user.userId)" class="btn btn-lg btn-danger" >Delete</button>
      </ul>
    </div>
    <div class="card m-5" style="width:18rem">
      <button  (click)="Add()" class="btn btn-lg btn-primary" >Add new user</button>
    </div>
     